extends layout

block content
  
  //- div(ng-controller="NewPost")
  form(ng-show="newPostBool")
    p Title:
    input(type="text")
    p Author:
    input(type="text")
    p Image URL: 
    input(type="text")
    p Description: 
    input(type="text")
    br
    br
    button(type="submit") Submit New Post 
